{% load static%}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<button id="get">GET</button>
<button id="post">POST</button>
<button id="json">JSON</button>

<img src="/static/download.jpeg" />
<img src='{% static "download.jpeg"%}' />

<script>
  document.querySelector("#get").addEventListener("click", () => {
    const data = axios({
      url: "/second/req/ajax/get",
      method: "get",
      params: {},
    });
    data.then(function (result) {
      console.log(result.data);
    });
  });
</script>
